/*!
 * Start Bootstrap - New Age v5.0.0 (https://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #0e5963;
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #083136;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  text-align: right;
  color: #0e5963;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand img {
  width: 50%;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #083136;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #0e5963 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #0e5963;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
  }
  #mainNav .nav-item:last-child .nav-link {
    padding-right: 0px;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #0e5963;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #0e5963;
  }
}

header.masthead,
section.masthead,
section.masthead_device {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

header.masthead .header-content,
section.masthead .header-content,
section.masthead_device .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1,
section.masthead .header-content h1,
section.masthead_device .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container,
section.masthead .device-container,
section.masthead_device .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .sombra,
section.masthead .device-container .sombra,
section.masthead_device .device-container .sombra {
  position: absolute;
  left: -31%;
  top: 58%;
  opacity: 0.3;
}

@media (max-width: 1200px) {
  header.masthead .device-container .sombra,
  section.masthead .device-container .sombra,
  section.masthead_device .device-container .sombra {
    left: -46%;
  }
}

@media (max-width: 992px) {
  header.masthead .device-container .sombra,
  section.masthead .device-container .sombra,
  section.masthead_device .device-container .sombra {
    display: none;
  }
}

header.masthead .device-container .screen img,
section.masthead .device-container .screen img,
section.masthead_device .device-container .screen img {
  border-radius: 3px;
}

header.masthead .device-container .device,
section.masthead .device-container .device,
section.masthead_device .device-container .device {
  max-width: 227px;
  max-height: 472px;
}

header.masthead .header-content,
section.masthead .header-content,
section.masthead_device .header-content {
  position: relative;
  margin-bottom: 0;
}

header.masthead .header-content h1,
section.masthead .header-content h1,
section.masthead_device .header-content h1 {
  font-size: 1.32em;
  position: absolute;
  top: 32%;
  -webkit-box-sizing: boder-box;
  box-sizing: boder-box;
  padding-left: 1.3%;
  width: 100%;
  font-weight: 600;
  letter-spacing: .26em;
}

header.masthead .header-content p,
section.masthead .header-content p,
section.masthead_device .header-content p {
  position: absolute;
  top: 50%;
  width: 100%;
  font-weight: 100;
  font-size: 1.13em;
  letter-spacing: .26em;
  -webkit-box-sizing: boder-box;
  box-sizing: boder-box;
  padding-left: 1.3%;
}

@media (max-width: 992px) {
  header.masthead,
  section.masthead,
  section.masthead_device {
    padding-top: 15vh;
  }
  header.masthead .col-lg-7 .header-content img,
  section.masthead .col-lg-7 .header-content img,
  section.masthead_device .col-lg-7 .header-content img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  header.masthead,
  section.masthead,
  section.masthead_device {
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .col-lg-7__medita-margin,
  section.masthead .col-lg-7__medita-margin,
  section.masthead_device .col-lg-7__medita-margin {
    margin-top: 25vh !important;
  }
  header.masthead .device-container,
  section.masthead .device-container,
  section.masthead_device .device-container {
    max-width: 325px;
  }
}

header.masthead__nobackground,
section.masthead__nobackground,
section.masthead_device__nobackground {
  background: unset;
}

section.masthead_device {
  background: -webkit-gradient(linear, right top, left top, from(#006f80), to(#7dc5cf));
  background: linear-gradient(to left, #006f80, #7dc5cf);
}

@media (max-width: 450px) {
  section.masthead_device {
    overflow-x: hidden;
    background-size: 100% 990px;
    background-repeat: no-repeat;
  }
}

section.masthead_device * {
  overflow-y: visible !important;
}

section.masthead_device .device-mockup {
  position: relative;
  left: 15%;
  padding: 230px 30px !important;
}

@media (max-width: 500px) {
  section.masthead_device .device-mockup {
    margin-left: -10px;
  }
}

@media (max-width: 992px) {
  section.masthead_device .device {
    margin: 0px;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

section.masthead_device h2 {
  font-weight: 600;
  font-size: 32px;
}

section.masthead_device p {
  font-size: 0.85em;
}

@media (min-width: 992px) {
  section.masthead_device .col-lg-7__paddingTop48 {
    padding-top: 48px !important;
  }
}

@font-face {
  font-family: CenturyGothic;
  src: url("../fonts/Gothic.ttf");
}

@media (max-width: 550px) {
  .carousel-item p {
    font-weight: 600 !important;
  }
}

.carousel-item2 .header-content2,
.carousel-item2 .header-content3,
.carousel-item3 .header-content2,
.carousel-item3 .header-content3 {
  margin-top: 50px;
}

.carousel-item2 .header-content2 img,
.carousel-item2 .header-content3 img,
.carousel-item3 .header-content2 img,
.carousel-item3 .header-content3 img {
  max-width: 200px;
}

.carousel-item2 .header-content2 h2,
.carousel-item2 .header-content3 h2,
.carousel-item3 .header-content2 h2,
.carousel-item3 .header-content3 h2 {
  color: #5c595c;
  font-family: 'CenturyGothic','Didact Gothic', sans-serif;
  font-weight: 100;
  letter-spacing: 0.2em;
}

.carousel-item2 .header-content2 h2 span,
.carousel-item2 .header-content3 h2 span,
.carousel-item3 .header-content2 h2 span,
.carousel-item3 .header-content3 h2 span {
  letter-spacing: 0px;
}

.carousel-item2 .header-content2 p,
.carousel-item2 .header-content3 p,
.carousel-item3 .header-content2 p,
.carousel-item3 .header-content3 p {
  color: #5c595c;
  font-weight: 400 !important;
  margin-top: 100px;
}

@media (max-width: 550px) {
  .carousel-item2 .header-content2 p,
  .carousel-item2 .header-content3 p,
  .carousel-item3 .header-content2 p,
  .carousel-item3 .header-content3 p {
    font-weight: 600 !important;
  }
}

.carousel-item2 .header-content3 img,
.carousel-item3 .header-content3 img {
  width: 180px;
}

.carousel-item2 .header-content3 h2,
.carousel-item3 .header-content3 h2 {
  letter-spacing: 0.2em;
  font-size: 4em;
}

.carousel-item2 .header-content3 h2 span,
.carousel-item3 .header-content3 h2 span {
  letter-spacing: 0px;
}

.carousel-item2 .header-content3 p,
.carousel-item3 .header-content3 p {
  margin-top: 150px;
}

@media (max-width: 550px) {
  .carousel-item2 .header-content3 img,
  .carousel-item3 .header-content3 img {
    width: 140px;
  }
  .carousel-item2 .header-content3 h2,
  .carousel-item3 .header-content3 h2 {
    letter-spacing: 0.2em;
    font-size: 3.5em;
  }
  .carousel-item2 .header-content3 h2 span,
  .carousel-item3 .header-content3 h2 span {
    letter-spacing: 0px;
  }
  .carousel-item2 .header-content3 p,
  .carousel-item3 .header-content3 p {
    margin-top: 110px;
  }
}

@media (max-width: 550px) {
  .carousel-item2 .header-content2 img,
  .carousel-item3 .header-content2 img {
    margin-top: 15px;
    width: 125px !important;
  }
}

@media (max-width: 550px) {
  header .carousel .carousel-inner {
    height: 500px !important;
  }
  header .carousel .carousel-inner .carousel-item {
    height: 500px;
    background-position: -120vw center;
  }
  header .carousel .carousel-inner .carousel-item2 {
    background-position: -100vw center;
  }
  header .carousel .carousel-inner .carousel-item3 {
    background-position: -50vw center;
  }
  #minilogo {
    display: none !important;
  }
}

section.download {
  position: relative;
  padding: 150px 0;
  color: #5c595c;
}

section.download h2 {
  margin-top: 0;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 100;
  letter-spacing: 0.2em;
  display: inline-block;
}

section.download h2 span {
  letter-spacing: 0px;
}

section.download p {
  font-size: 0.88em;
  font-weight: semi-bold;
}

section.download .faac {
  display: block;
  color: #f1f0f0;
  font-size: 13em;
  font-family: 'Cardo', serif;
  line-height: 0em;
  -webkit-transform: translateY(0.3em) translateX(-0.62em);
  transform: translateY(0.3em) translateX(-0.62em);
  margin: 0 0.2em;
  text-align: left;
}

section.download .faacback {
  -webkit-transform: rotate(180deg) translateY(0.43em) translateX(-0.4em);
  transform: rotate(180deg) translateY(0.43em) translateX(-0.4em);
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (max-width: 468px) {
  section.download img {
    max-width: 100px;
  }
  section.download h2 {
    font-size: 12vw;
  }
  section.download p {
    padding: 10px 9vw 0px;
    font-size: 4vw;
  }
  section.download .faac {
    font-size: 39vw;
    -webkit-transform: translateY(0.25em) translateX(-20.45vw);
    transform: translateY(0.25em) translateX(-20.45vw);
  }
  section.download .faacback {
    -webkit-transform: rotate(180deg) translateY(0.23em) translateX(-20.31vw);
    transform: rotate(180deg) translateY(0.23em) translateX(-20.31vw);
  }
}

section.features .section-heading {
  margin-bottom: 100px;
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#006f80), to(#7dc5cf));
  background: linear-gradient(to left, #006f80, #7dc5cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #0e5963;
}

.service-box {
  max-width: 420px;
}

.service-box p {
  min-height: 100px;
  font-size: 0.85em;
}

.service-box i {
  background-color: #e6e6e6;
  border-radius: 50%;
  padding: 0.5em;
}

.service-box img {
  margin: 70px 0 26px;
}

@media (max-width: 450px) {
  .service-box p {
    min-height: 70px;
  }
  .service-box img {
    margin: 30px 0 26px;
  }
}

.services h2 {
  font-size: .95em;
  letter-spacing: .26em;
  font-weight: bold;
  margin: 0;
}

.services h3 {
  font-weight: 600;
  font-size: .95em;
}

.services .tooltipx {
  position: relative;
}

.services .tooltipx i {
  color: #000;
}

.services .tooltipx .tooltiptext:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-top: solid grey 1px;
  border-left: solid grey 1px;
  position: absolute;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -0.45em;
  left: 143px;
}

.services .tooltipx:focus {
  outline: none;
}

.popover {
  text-align: center;
  border: solid grey 1px;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 28px;
  margin-top: 15px;
}

.popover * {
  /*      color:#747474;
      font-size:0.9em;*/
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #777777;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #0e5963;
  background: -webkit-gradient(linear, left top, left bottom, from(#0e5963), to(#0b454d));
  background: linear-gradient(#0e5963, #0b454d);
}

.paddingSectionResp {
  padding: 35px 0 !important;
}

.paddingSectionResp10 {
  padding: 10px 0 !important;
}

.modal-body {
  position: relative;
  padding: 10px;
  overflow-y: scroll;
}

@media (max-width: 450px) {
  .modal-body {
    height: 400px;
  }
}

@media (min-width: 800px) {
  .section__paddingTop70 {
    padding-top: 70px !important;
  }
  .section__paddingBottom70 {
    padding-bottom: 70px !important;
  }
  .section__paddingTB70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
  .section__paddingTop50 {
    padding-top: 50px !important;
  }
  .section__paddingBottom50 {
    padding-bottom: 50px !important;
  }
  .section__paddingTB50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .section__paddingTop40 {
    padding-top: 40px !important;
  }
  .section__paddingBottom40 {
    padding-bottom: 40px !important;
  }
  .section__paddingTB40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .section__paddingTop30 {
    padding-top: 30px !important;
  }
  .section__paddingBottom30 {
    padding-bottom: 30px !important;
  }
  .section__paddingTB30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

.text-primary {
  color: #0e5963;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #0e5963;
  background-color: #0e5963;
}

.btn {
  border-radius: 300px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.btn-time {
  background-color: #61b7c3;
  color: #ffffff;
}

.rotina {
  background: -webkit-gradient(linear, right top, left top, from(#0a93a3), to(#74b844));
  background: linear-gradient(to left, #0a93a3, #74b844);
  color: #ffffff;
}

.rotina p {
  letter-spacing: .2em;
  font-size: .85em;
  line-height: 1.8em;
}

.time h2 {
  letter-spacing: .2em;
  font-size: .95em;
  line-height: 1.8em;
  font-weight: bold;
  color: #363636;
}

.time p {
  font-size: .95em;
  margin-bottom: 55px;
  color: #757575;
}

.time a {
  font-size: .93em;
  font-weight: 100;
}

@media (max-width: 450px) {
  .time p {
    margin-bottom: 30px;
  }
}

.list-social-navegacao .social {
  display: inline-block;
}

.list-social-navegacao .social a {
  color: #013637;
}

.icoTextos {
  width: 100%;
}

.icoTextos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.icoTextos ul li {
  text-align: center;
  font-size: 0.85em !important;
}

.icoTextos ul li img {
  padding: 30px 0 10px;
}

@media (max-width: 992px) {
  .icoTextos ul li {
    min-width: 140px;
  }
  .icoTextos ul li:last-child {
    width: 100%;
  }
}

.contato {
  text-align: left !important;
  background-color: #eaeaea;
}

.contato ul {
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}

.contato .social {
  display: inline-block;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.contato .social a {
  width: initial !important;
  color: #747474 !important;
  margin-right: 40px;
}

.contato .social a i {
  font-size: 2.3em;
}

.contato h4 {
  letter-spacing: .2em;
  font-size: .95em;
  line-height: 1.8em;
  font-weight: bold;
}

.contato input {
  width: 49%;
  display: inline-block;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 20px;
  border-color: transparent;
}

.contato input:focus {
  outline: none;
}

.contato input:first-child {
  margin-right: 2%;
}

.contato textarea {
  border-color: lightgrey;
  margin: 3% 0px 2%;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px 50px;
  border-radius: 20px;
  resize: none;
  border: none;
}

.contato textarea:focus {
  outline: none;
}

.contato button {
  border: none;
  color: #ffffff;
  background-color: #61b7c3;
  padding: 0.5em 2em;
  border-radius: 1.2em;
  cursor: pointer;
  font-weight: 100;
  margin: auto;
}

@media (max-width: 615px) {
  .contato .col-lg-2 {
    padding: 1.5em 0;
  }
  .contato input {
    width: 100%;
    margin: 3% 0px 2%;
  }
  .contato input:first-child {
    margin-right: 0%;
  }
  .contato .button-wrap {
    text-align: center;
    padding-top: 1em !important;
  }
}

.modal-content {
  background-color: #ececec;
}

.form-time {
  text-align: left;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}

.form-time input, .form-time textarea {
  width: 100%;
  margin-bottom: 1em;
  padding: 5px 10px;
  border-radius: 20px;
  border-color: transparent;
  resize: none;
}

.form-time input:focus,
.form-time select:focus,
.form-time textarea:focus {
  outline: none;
}

.form-time select {
  margin-bottom: 1em;
  padding: 5px 10px;
  border-radius: 20px;
  border-color: transparent;
  background-color: lightgrey;
  width: 110px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-time .radio span {
  margin-right: 2em;
}

@media (max-width: 450px) {
  .form-time .radio span {
    display: block;
  }
}

.form-time .radio input {
  display: inline-block;
  width: 3%;
}

.form-time .check input {
  display: inline-block;
  width: 1em;
}

.form-time textarea {
  height: 6em;
  resize: none;
}

.form-time button {
  border: none;
  color: #ffffff;
  background-color: #61b7c3;
  padding: 0.5em 2em;
  border-radius: 1.2em;
  cursor: pointer;
  font-weight: 100;
}

.form-time .numDoc {
  display: none;
}

.form-time * {
  color: #757575;
}

/*
.modal-footer{

    button{
        border:none;
        color:#ffffff;
        padding:0.5em 2em;
        border-radius:1.2em;
        cursor: pointer;
        font-weight: 100;
        background-color:#61b7c3;
    }
    
}
*/
@media (max-width: 450px) {
  .navbar-medita {
    background-image: url("../img/logoMedita.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 5vw 8px;
  }
  .navbar-medita .navbar-toggler {
    margin-left: 80vw;
  }
}

input[type=number]::-webkit-inner-spin-button,
put[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
